fastapi==0.117.1
uvicorn==0.37.0
fastapi-cache2[redis]==0.2.2
redis==5.0.8
psycopg2-binary==2.9.11
asyncpg==0.30.0
SQLAlchemy==2.0.43
alembic==1.16.5
pyjwt==2.10.0
passlib[bcrypt]
argon2-cffi
python-dotenv==1.1.1
black
flake8
pytest
pydantic==2.11.9
pydantic-core==2.33.2
pydantic-settings==2.11.0
locust==2.41.6

